## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code
.vscode/

## Visual Studio
.vs/
*.rsuser
launchSettings.json

## Azure Functions
local.settings.json

## Azurite
__azurite_db_*.json
__blobstorage__/
__queuestorage__/

## NuGet
*.nupkg
**/[Pp]ackages/*

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/
